@{
    Layout = "~/Views/Shared/_SystemLayoutEmpty.cshtml";
    ViewBag.Title= "系统错误!";
}
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center">
                        <h1 class="error-number text-danger">系统出现了错误！</h1>
                        <h2 class="text-danger">@ViewData["errorMsg"]</h2>
                        <p>
                            我们会自动跟踪这些错误，但是如果问题继续存在，请联系我们。同时，请尝试刷新页面或重新登录
                        </p>
                        <div class="mid_center">
                            <h3 style="font-size:60px;" class="fa fa-warning text-danger"></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
