@{
    Layout = "~/Views/Shared/_SystemLayout.cshtml";
}
<style>
    .flipInY {
        width: 19%;
        display: inline-block;
    }
    .top_tiles{
        margin:0;
    } .top_tiles .tile-stats {
        text-align: center;
    }

    .tile-stats .count {
        margin-left: 0;
    }

    .top_tiles .money_icon {
        font-size: 14px;
    }

    .top_tiles .money {
        color: #3289ff;
        font-weight: lighter !important;
        font-size: 30px;
    }

    .top_tiles h3 {
        font-size: 18px;
    }
    .common-function-box {
        vertical-align: top;
        overflow: hidden;
        margin-right: -69px;
    }
    .common-function {
        width: 133px;
        height: 140px;
        display: inline-block;
        text-align: center;
        height: auto;
        padding: 6px 27px;
        margin-right: 58px;
    }

        .common-function .common-function__icon {
            font-size: 90px;
        }
    .help-panel{
        padding-top:10px;
    }
</style>
<div class="clearfix">
    <h2>日常概况</h2>
    <div class="row top_tiles">
        <div class="animated flipInY">
            <div class="tile-stats">
                <div class="count">
                    <span class="money_icon">￥</span>
                    <span class="money">188.88</span>
                </div>
                <h3>待发货订单</h3>
                <p></p>
            </div>
        </div>
        <div class="animated flipInY">
            <div class="tile-stats">
                <div class="count">
                    <span class="money_icon">￥</span>
                    <span class="money">188.88</span>
                </div>
                <h3>待发货订单</h3>
                <p></p>
            </div>
        </div>
        <div class="animated flipInY">
            <div class="tile-stats">
                <div class="count">
                    <span class="money_icon">￥</span>
                    <span class="money">188.88</span>
                </div>
                <h3>待发货订单</h3>
                <p></p>
            </div>
        </div>
        <div class="animated flipInY">
            <div class="tile-stats">
                <div class="count">
                    <span class="money_icon">￥</span>
                    <span class="money">188.88</span>
                </div>
                <h3>待发货订单</h3>
                <p></p>
            </div>
        </div>
        <div class="animated flipInY">
            <div class="tile-stats">
                <div class="count">
                    <span class="money_icon">￥</span>
                    <span class="money">188.88</span>
                </div>
                <h3>待发货订单</h3>
                <p></p>
            </div>
        </div>
    </div>
    <h2>常用功能</h2>
    <div class="panel panel-default">
        <div class="panel-body" style="overflow-x:hidden;">
            <!---->
            <div class="row common-function-box">
                <a class="thumbnail common-function">
                    <i class="common-function__icon fa fa-google-plus-square"></i>
                    <div class="caption">
                        发布商品
                    </div>
                </a>
                <a class="thumbnail common-function">
                    <i class="common-function__icon fa fa-adjust"></i>
                    <div class="caption">
                        发布商品
                    </div>
                </a>
                <a class="thumbnail common-function">
                    <i class="common-function__icon fa fa-safari"></i>
                    <div class="caption">
                        发布商品
                    </div>
                </a>
                <a class="thumbnail common-function">
                    <i class="common-function__icon fa fa-adn"></i>
                    <div class="caption">
                        发布商品
                    </div>
                </a>
                <a class="thumbnail common-function">
                    <i class="common-function__icon fa fa-amazon"></i>
                    <div class="caption">
                        发布商品
                    </div>
                </a>
                <a class="thumbnail common-function">
                    <i class="common-function__icon fa fa-dashboard"></i>
                    <div class="caption">
                        发布商品
                    </div>
                </a>
                <a class="thumbnail common-function">
                    <i class="common-function__icon fa fa-pagelines"></i>
                    <div class="caption">
                        发布商品
                    </div>
                </a>
                <a class="thumbnail common-function">
                    <i class="common-function__icon fa fa-google-plus-square"></i>
                    <div class="caption">
                        发布商品
                    </div>
                </a>
                <a class="thumbnail common-function">
                    <i class="common-function__icon fa fa-google-plus-square"></i>
                    <div class="caption">
                        发布商品
                    </div>
                </a>
                <a class="thumbnail common-function">
                    <i class="common-function__icon fa fa-google-plus-square"></i>
                    <div class="caption">
                        发布商品
                    </div>
                </a>
                <a class="thumbnail common-function">
                    <i class="common-function__icon fa fa-google-plus-square"></i>
                    <div class="caption">
                        发布商品
                    </div>
                </a>
                <a class="thumbnail common-function">
                    <i class="common-function__icon fa fa-google-plus-square"></i>
                    <div class="caption">
                        发布商品
                    </div>
                </a>
            </div>
            <!---->
        </div>
    </div>
    <h2>帮助中心</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="x_panel help-panel">
                <ul class="list-unstyled">
                    <li><a class="btn btn-link">如何发布商品如何发布商品如何发布商品？</a></li>
                    <li><a class="btn btn-link">如何发布商品如何发布商品如何发布商品？</a></li>
                    <li><a class="btn btn-link">如何发布商品如何发布商品如何发布商品？</a></li>
                    <li><a class="btn btn-link">如何发布商品如何发布商品如何发布商品？</a></li>
                    <li><a class="btn btn-link">如何发布商品如何发布商品如何发布商品？</a></li>
                </ul>
                <div>
                    <a href="###" class="btn btn-xs btn-info pull-right">更多</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="x_panel help-panel">
                <ul class="list-unstyled">
                    <li><a class="btn btn-link">如何发布商品如何发布商品如何发布商品？</a></li>
                    <li><a class="btn btn-link">如何发布商品如何发布商品如何发布商品？</a></li>
                    <li><a class="btn btn-link">如何发布商品如何发布商品如何发布商品？</a></li>
                    <li><a class="btn btn-link">如何发布商品如何发布商品如何发布商品？</a></li>
                    <li><a class="btn btn-link">如何发布商品如何发布商品如何发布商品？</a></li>
                </ul>
                <div>
                    <a href="###" class="btn btn-xs btn-info pull-right">更多</a>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script>



    </script>
}
